html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline; }

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block; }

body {
  line-height: 1; }

ol, ul {
  list-style: none; }

blockquote, q {
  quotes: none; }

blockquote:before, blockquote:after,
q:before, q:after {
  content: '';
  content: none; }

table {
  border-collapse: collapse;
  border-spacing: 0; }

header.channel-list {
  display: flex;
  flex-direction: row;
  background-color: #262626;
  border-bottom: 1px solid #424242;
  height: 40px;
  position: fixed;
  width: 100%;
  top: 0;
  z-index: 100; }
  header.channel-list figure {
    display: flex;
    align-items: center;
    flex: 0 0 150px; }
    @media only screen and (max-width: 600px) {
      header.channel-list figure {
        flex: initial; } }
  header.channel-list nav {
    flex: 1; }
    header.channel-list nav ul {
      display: flex;
      flex-direction: row;
      list-style: none;
      margin-right: 20px; }
      header.channel-list nav ul li {
        color: #333;
        font-size: 18px;
        flex: 1;
        height: 100%;
        background-color: #e5e5e5;
        display: flex;
        justify-content: center;
        align-items: center;
        cursor: pointer;
        border-left: 1px solid #424242; }
        header.channel-list nav ul li.active, header.channel-list nav ul li:hover {
          background-color: #4d4d4d;
          color: #fff; }
        header.channel-list nav ul li:first-child {
          margin-left: 0; }
        @media only screen and (max-width: 600px) {
          header.channel-list nav ul li {
            border-bottom: 1px solid #424242;
            flex: 0 33%;
            height: 30px;
            font-size: 12px; } }
      @media only screen and (max-width: 600px) {
        header.channel-list nav ul {
          flex-wrap: wrap;
          margin-right: 0; } }
  @media only screen and (max-width: 600px) {
    header.channel-list {
      flex-direction: column;
      height: 80px; } }

.program-cards {
  display: flex;
  flex-direction: row;
  max-width: 1050px;
  flex-wrap: wrap;
  margin: 70px auto 40px; }
  .program-cards .program-card {
    width: 240px;
    height: 230px;
    border: 1px solid;
    margin: 10px;
    background-color: #262626;
    display: flex;
    position: relative;
    flex-direction: column;
    justify-content: center;
    position: relative;
    overflow: hidden;
    box-shadow: -1px 1px 12px 1px #555; }
    .program-cards .program-card .title {
      color: #fff;
      position: absolute;
      top: 10px;
      left: 0;
      right: 0;
      text-align: center;
      font-size: 14px; }
    .program-cards .program-card .duration {
      position: absolute;
      bottom: 15px;
      left: 10px;
      color: #fff;
      font-size: 12px;
      font-weight: 100;
      font-family: verdana; }
    .program-cards .program-card img {
      width: 240px; }
  @media only screen and (max-width: 600px) {
    .program-cards {
      justify-content: center;
      margin: 100px auto 40px; } }

body {
  background-color: lightgrey;
  font-family: "Arial Black",sans-serif; }

footer {
  height: 40px;
  background-color: #fff;
  display: flex;
  align-items: center;
  justify-content: center;
  border-top: 1px solid grey;
  position: fixed;
  bottom: 0;
  width: 100%; }
  footer button {
    background-color: transparent;
    height: 50px;
    color: grey;
    outline: none;
    font-size: 22px;
    border: none;
    cursor: pointer;
    display: flex;
    align-items: center; }
    footer button .plus {
      color: #ffd400;
      font-size: 32px; }
    footer button .text {
      margin-left: 10px; }
      footer button .text:hover {
        text-decoration: underline; }
