@import 'reset';
@import 'styles/channel-list';
@import 'styles/program-cards';

body {
    background-color: lightgrey;
    font-family: "Arial Black",sans-serif;
}

footer {
    height: 40px;
    background-color: #fff;
    display: flex;
    align-items: center;
    justify-content: center;
    border-top: 1px solid grey;
    position: fixed;
    bottom: 0;
    width: 100%;

    button {
        background-color: transparent;
        height: 50px;
        color: grey;
        outline: none;
        font-size: 22px;
        border: none;
        cursor: pointer;
        display: flex;
        align-items: center;

        .plus {
            color: #ffd400;
            font-size: 32px;
        }

        .text {
            margin-left: 10px;

            &:hover {
                text-decoration: underline;
            }
        }
    }
}