@import 'reset';
@import 'styles/channel-list';
@import 'styles/program-cards';

body {
    background-color: lightgrey;
}

footer {
    height: 60px;
    background-color: grey;
    display: flex;
    align-items: center;
    justify-content: center;

    button {
        width: 50%;
        background-color: #4d4d4d;
        height: 50px;
        color: #fff;
        outline: none;
        font-size: 22px;
    }
}