.program-cards {
    display: flex;
    flex-direction: row;
    max-width: 1050px;
    flex-wrap: wrap;
    margin: 70px auto 40px;

    .program-card {
        width: 240px;
        height: 230px;
        border: 1px solid;
        margin: 10px;
        background-color: #262626;
        display: flex;
        position: relative;
        flex-direction: column;
        justify-content: center;
        position: relative;
        overflow: hidden;
        box-shadow: -1px 1px 12px 1px #555;

        .title {
            color: #fff;
            position: absolute;
            top: 10px;
            left: 0;
            right: 0;
            text-align: center;
            font-size: 14px;
        }

        .duration {
            position: absolute;
            bottom: 15px;
            left: 10px;
            color: #fff;
            font-size: 12px;
            font-weight: 100;
            font-family: verdana;
        }

        &.expire-soon {
            // &:before {
            //     content: 'Last change';
            //     color: #ededed;
            //     background-color: #ff001e;
            //     position: absolute;
            //     left: -25px;
            //     bottom: 24px;
            //     width: 145px;
            //     height: 25px;
            //     text-align: center;
            //     line-height: 22px;
            //     transform: rotate(40deg);
            //     font-size: 9px;
            //     letter-spacing: 5px;
            //     z-index: 10;
            //     box-shadow: -1px 0px 7px 1px #333;
            // }
        }

        img {
            width: 240px;
        }
    }

    @media only screen and (max-width : 600px) {
        justify-content: center;
        margin: 100px auto 40px;
    }
}